<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>842506949828-uq0kflk52bvrv1hoqrunfdn630fb534f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842506949828-uq0kflk52bvrv1hoqrunfdn630fb534f</string>
	<key>API_KEY</key>
	<string>AIzaSyD6F0abgiIKxy0s2npVrGO7Uu6Le-D2f8A</string>
	<key>GCM_SENDER_ID</key>
	<string>842506949828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>smith.codesquad.OnTheWay</string>
	<key>PROJECT_ID</key>
	<string>ontheway-e5b96</string>
	<key>STORAGE_BUCKET</key>
	<string>ontheway-e5b96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842506949828:ios:164c172e9ac141e8</string>
	<key>DATABASE_URL</key>
	<string>https://ontheway-e5b96.firebaseio.com</string>
</dict>
</plist>